<p>Find me in app/views/schedules/index.html.erb</p>
<!-- 予約フォーム -->
<%= form_with model: @schedule, url: schedules_path, local: true do |f| %>
<%= f.label :日付を選択, class: 'lavel' %>
<%= f.date_field :scheduled_date, class: 'date-select' %>
<%= f.label :施工班を選択, class: 'lavel' %>
<%= f.collection_select(:team_id, Team.all, :id, :team_name, {}, {class:"team-select"}) %>
<%= f.label :時間帯を選択, class: 'lavel' %>
<%= f.collection_select(:time_zone_id, TimeZone.all, :id, :name, {}, {class:"time_zone-select"}) %>
<%= f.submit "登録する" %>
<% end %>
<!-- 一覧表 -->
<div class='calendars'>
  <div class='calendar'>
    <div class='day-title'>
      日にち\班
    </div>
    <% @a_week_days.each do |day| %>
      <div class='day-item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %><br><%= day[:wday] %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='calendar'>
    <div class='team-title'>
      い班  午前枠
    </div>
    <% @a_week_days.each do |day| %>
      <div class='item'>
        <ul class='content'>
        <% if day[:am_plans].length != 0 %>
          <% day[:am_plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class='calendar'>
    <div class='team-title'>
      い班  午後枠
    </div>
    <% @a_week_days.each do |day| %>
      <div class='item'>
        <ul class='content'>
        <% if day[:pm_plans].length != 0 %>
          <% day[:pm_plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class='calendar'>
    <div class='team-title'>
      ろ班  午前枠
    </div>
    <% @b_week_days.each do |day| %>
      <div class='item'>
        <ul class='content'>
        <% if day[:am_plans].length != 0 %>
          <% day[:am_plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class='calendar'>
    <div class='team-title'>
      ろ班  午後枠
    </div>
    <% @b_week_days.each do |day| %>
      <div class='item'>
        <ul class='content'>
        <% if day[:pm_plans].length != 0 %>
          <% day[:pm_plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class='calendar'>
    <div class='team-title'>
      は班  午前枠
    </div>
    <% @c_week_days.each do |day| %>
      <div class='item'>
        <ul class='content'>
        <% if day[:am_plans].length != 0 %>
          <% day[:am_plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class='calendar'>
    <div class='team-title'>
      は班  午後枠
    </div>
    <% @c_week_days.each do |day| %>
      <div class='item'>
        <ul class='content'>
        <% if day[:pm_plans].length != 0 %>
          <% day[:pm_plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

