<h1>Schedules#index</h1>
<p>Find me in app/views/schedules/index.html.erb</p>
<!-- 予約フォーム -->
<%= form_with model: @schedule, url: schedules_path, local: true do |f| %>
<%= f.label :日付を選択, class: 'lavel' %>
<%= f.date_field :scheduled_date, class: 'date-select' %>
<%= f.label :施工班を選択, class: 'lavel' %>
<%= f.collection_select(:team_id, Team.all, :id, :team_name, {}, {class:"team-select"}) %>
<%= f.label :時間帯を選択, class: 'lavel' %>
<%= f.collection_select(:time_zone_id, TimeZone.all, :id, :name, {}, {class:"time_zone-select"}) %>

<%= f.submit "登録する" %>
<% end %>

<!-- 一覧表 -->

  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class='calendar'>
    <% @week_days.each do |day| %>
      <div class='item'>
        <div class='date'>
          <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
        </div>
        <ul class='content'>
        <% if day[:plans].length != 0 %>
          <% day[:plans].each do |plan| %>
            <li class='plan-list'>・<%= plan %></li>
            <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>


  <div class='itirann-y'>
    <div class='header-y'>
      <div class='hyouki-y'>日\班
      </div>
      <div class='daynight-y'>
        <div class='daytime-y'>
          <% @team.each do |n| %> 
            <div class='ti-mumei-y'>
              <%= n.team_name %>
            </div>
            <%end%>
          </div>
        <div class='nighttime-y'>夜間工事
        </div>
      </div>
    </div>
    <div class='body-y'>
      <!-- 曜日別に７回繰り返し表示するので繰り返したい内容を記述 -->
      <% @week_days.each do |day| %>
        <div class='wday-y'> <%#header-yと同等クラス このブロックを7回繰り返す%> 
          <div class='hiniti-y'> <%#日にちと曜日を表示%>
            <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
          </div>
          <div class='daynight-y'>
            <div class='daytime-y'>
              <div class='itiniti-y'> <%#３班分繰り返す、変数を使ってteam_idを変更する%>
                <div class='gozen'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==1のtime_zone_id==2があれば表示し、なければ何もない</div>
                <div class='gogo'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==1のtime_zone_id==3があれば表示し、なければ何もない</div>
              </div>
              <div class='itiniti-y'>
                <div class='gozen'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==2のtime_zone_id==2があれば表示し、なければ何もない</div>
                <div class='gogo'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==2のtime_zone_id==3があれば表示し、なければ何もない</div>
              </div>
              <div class='itiniti-y'>
                <div class='gozen'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==3のtime_zone_id==2があれば表示し、なければ何もない</div>
                <div class='gogo'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==3のtime_zone_id==3があれば表示し、なければ何もない</div>
              </div>
            </div>
            <div class='nighttime-y'>夜間工事工事があったらeachで取得表示
                <div class='yo-i'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==1のtime_zone_id==4があれば表示し、なければ何もない</div>
                <div class='yo-ro'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==2のtime_zone_id==4があれば表示し、なければ何もない</div>
                <div class='yo-ha'>もし、schedule_dateがclass=='hiniti-y'の日にちと一致して、team_id==3のtime_zone_id==4があれば表示し、なければ何もない</div>
            </div>
          </div>  
        </div>
      <%end%>
    </div>
  </div>